go 1.21.1

// use github.com/VILJkid/go-simple-load-balancer/example-server => ./example-server
// use github.com/VILJkid/go-simple-load-balancer/load-balancer => ./load-balancer
use (
    ./example-server
    ./load-balancer
)